<div class="jumbotron">
  <h1>Anagrams and Antigrams</h1>
</div>
<div class="container">
  <h2>Check if words are Anagrams, Antigrams, or Palindromes!</h2>
  <br>
  <form action="/results">
    <div class="form-group">
      <label for="string_one">Enter a word:</label>
      <input id="string_one" name="string_one" type="text" class="form-control">
    </div>
    <br>
    <div class="form-group">
      <label for="string_two">Enter another word:</label>
      <input id="string_two" name="string_two" type="text" class="form-control">
    </div><br>
    <div class="results">
      <button type="submit" class="btn btn-default">Submit!</button>
    </div>
  </form>
</div>
