<div class="jumbotron">
  <h1>Anagrams and Antigrams</h1>
</div>
<div class="container">
  <h2>Here are your results!</h2>
  <br>
  <h4>Word One:  <%=@string_one%></h4>
  <br>
  <h4>Word Two:  <%=@string_two%></h4>
  <hr>
  <div class="results">
    <h2>Your Results:  <%=@results%></h2>
  </div>
</div>
