body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
}

h1 {
  font-family: 'Cutive', serif;
  font-size: 3em;
  letter-spacing: 0.5em;
}

h2 {
  letter-spacing: 0.2em;
}

.jumbotron{
  background-color: #8fd8d2;
  color: #df744a;
}

.results{
  padding-top: 50px;
  background-color: #fedcd2;
  min-height: 180px;
}

.btn {
  background-color: #df744a;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
